# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/
dist/
dist-ssr/

# Editor
.vscode/
.idea
.DS_Store

# Environment
.env
.env.*
!.env.example

# Build
build/
*.tgz

# Cache
.cache
.parcel-cache
